  <!-- Translucent Navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top translucent-navbar">
    <div class="container">
      <a class="navbar-brand my-color" href="#">Recipe Sharing</a>
      <button class="navbar-toggler" style="background-color: rgba(240, 248, 255, 0.494);" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link my-color" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-color" href="#">Public-Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-color" href="/chefs">Chefs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-color" href="/my-recipes">My-Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-color" href="#">Favourites</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>