<%- include('../includes/boilerplate.ejs') %>
<%- include('../includes/navbar.ejs') %>

    
<section class="section3">
    <div class="container">
        <h2 style="text-align: center;">Famous Chefs</h2>
        <br><br>
        <div class="row">
        <!-- 6 divs for storing recipes -->
        <div class="col-md-4 mb-5">
            <div class="my-images my-image1">
                <div class="recipe">
                    <h5><a href="/gordan-ramsay">Gordan Ramsay</a></h5>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="my-images my-image2">
                <div class="recipe">
                    <h5><a href="">Alain Ducasse</a></h5>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="my-images my-image3">
                <div class="recipe">
                    <h5><a href="">Jamie oliver</a></h5>
                    </div>
            </div>
        </div>
        <div class="w-100"></div> <!-- Add a clearfix for smaller screens -->
        <div class="col-md-4 mb-5">
            <div class="my-images my-image4">
                <div class="recipe">
                    <h5><a href="">Sanjeev-Kapoor</a></h5>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="my-images my-image5">
                <div class="recipe">
                    <h4><a href="">Vikas Khanna</a></h4>
                    </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="my-images my-image6">
                <div class="recipe">
                    <h4><a href="">Marco Pierre</a></h4>
                    </div>
            </div>
        </div>
        </div>
    </div>
</section>

<h2 style="text-align: center;">Other Chefs</h2>

<form action="">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
  </form>

<br><br>


<%- include('../includes/footer.ejs') %>