<%- include('../includes/boilerplate.ejs') %>
<%- include('../includes/navbar.ejs') %>
    <br><br><br>
    <h2 style="text-align: center;">Inside My recipes</h2>

    <div class="container d-flex justify-content-center align-items-center" style="height: 10vh;">
        <form action="/add-recipe" method="get">
          <button type="submit" class="btn btn-primary btn-lg">Add a recipe!</button>
        </form>
    </div>